{% extends "base.html" %}

{% block content %}
<main>
    <div id="m-con">
        <h1>View your cart</h1>
        <div id="m-items">
            {%for product in cart%}
                <div class="m-item">
                    <h1>{{product.name}}</h1>
                    <img src="/{{product.image}}">
                    <div class="m-btns">
                        <a href="/listings/{{product.id}}">
                            <button style="background-color: rgb(113, 187, 255);">
                                <i class="fa-solid fa-eye" style="color: #eee; font-size: 22px"></i>
                            </button>
                        </a>

                        {%if product.author == current_user.get_id()%}
                            <a href="/api/delete/{{product.id}}">
                                <button>
                                    <i class="fa-solid fa-trash" style="font-size: 20px; color: rgb(200,100,100)"></i>
                                </button>
                            </a>
                            <a href="/edit/{{product.id}}">
                                <button>
                                    <i class="fa-solid fa-pencil" style="font-size: 20px; color: rgb(100,100,200)"></i>
                                </button>
                            </a>
                        {%endif%}

                        <a href="/api/remove/{{product.id}}">
                            <button>
                                <i class="fa-regular fa-circle-xmark" style="font-size: 20px; color: rgb(200,100,100)"></i>
                            </button>
                        </a>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
</main>
{% endblock %}