{% extends "base.html" %}

{% block content %}
<main>
        <!-- Carousel -->

        <section id="carousel">
            {% for s,product in items %}
                <div class="carousel-item" id="cit{{ s }}">
                    <img src="{{product.image}}" alt="...">
                    <div class="imgcover"></div>
                    <h1>{{ product.name }}</h1>
                    <h3>{{ product.description }}</h3>
                    <div class="textCover"></div>
                    <a href="/listings/{{product.id}}">View Listing</a>
                </div>
            {% endfor %}
        </section>
        <div id="carousel-nav">
            <button id="c1"></button>
            <button id="c2"></button>
            <button id="c3"></button>
            <button id="c4"></button>
            <button id="c5"></button>
            <button id="c6"></button>
        </div>

        <!-- search -->

        <div id="searchbar"> <input type="text" id="sb" placeholder="Search Items"> <button><img src="static/search.svg" alt="_"></button></div>

        <div id="searchDisplay">
            <div id="container">
                <h1>hiiii</h1>
            </div>
            <button >View all <img src="static/viewall.svg"></button>
        </div>

        <section id="categories">
            <div id="cv1"></div>
            <div id="cv2"></div>
            <div id="movement">
                <div class="category">
                    <div>
                        <h1>Phones</h1>
                        <h2>From $999</h2>
                    </div>
                    <img src="https://assets.swappie.com/cdn-cgi/image/width=600,height=600,fit=contain,format=auto/swappie-iphone-13-red-back.png?v=63198538" alt="...">
                </div>

                <div class="category">
                    <div>
                        <h1>Clothing</h1>
                        <h2>From $59.99</h2>
                    </div>
                    <img src="https://png.pngtree.com/png-vector/20230902/ourmid/pngtree-white-t-shirt-mockup-realistic-t-shirt-png-image_9906363.png" alt="...">
                </div>

                <div class="category">
                    <div>
                        <h1>Toys</h1>
                        <h2>From $17</h2>
                    </div>
                    <img src="https://png.pngtree.com/png-vector/20230928/ourmid/pngtree-cute-bear-teddy-toy-png-image_10149481.png " alt="...">
                </div>

                <div class="category">
                    <div>
                        <h1>Laptops</h1>
                        <h2>From $599</h2>
                    </div>
                    <img src="https://www.insight.com/content/dam/insight-web/en_US/store/apple/apple-macbook-air-15in-midnight-vertical-580x525.png" alt="...">
                </div>

                <div class="category">
                    <div>
                        <h1>Personal Computers</h1>
                        <h2>From $799</h2>
                    </div>
                    <img src="https://www.pngplay.com/wp-content/uploads/13/PC-PNG-Pic-Background.png" alt="...">
                </div>

                <div class="category">
                    <div>
                        <h1>Home Appliances</h1>
                        <h2>From $599</h2>
                    </div>
                    <img src="https://png.pngtree.com/png-vector/20221121/ourmid/pngtree-silver-mini-fridge-illustration-png-image_6472828.png" alt="" srcset="">
                </div>
            </div>

            <div id="horizontalScroll">
                <div id="sc-indicator"></div>
            </div>
        </section>

        <section id="jokes">
            <img src="static/mascot.svg">
            <div id="bubble"></div>

            <div id="joke">
                <h1 id="j-setup">Joke setup here</h1>
                <h2 id="j-punchline">Joke punchline here</h2>
            </div>
        </section>
    </main>
<script>

    //<div class="s-item">
    //    <a></a>
    //    <img>
    //    <h3></h3>
    //</div>


        const searchInput = document.getElementById("sb")
        const sdis = document.getElementById("searchDisplay")
        const scon = document.getElementById("container")
        searchInput.addEventListener("keyup", async () => {
            if (searchInput.value != "") {
                sdis.style.display = "block"
                //sdis.scrollIntoView()
                scon.innerHTML = ""

                const url = `/api/search?name=${encodeURIComponent(searchInput.value)}`;
                const response = await fetch(url, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                    },
                });

                const data =  await response.json();
                console.log("Products found:", data);

                if (data[0].length > 0) {
                    for (let i = 0; i<3; i++) {
                        if (i > (data[0].length -1)) {
                            break
                        }
    
                        let div = document.createElement("div")
                        div.className = "s-item"
                        let a = document.createElement("a")
                        let img = document.createElement("img")
                        let h3 = document.createElement("h3")
                        h3.innerHTML = data[0][i].name
                        img.src = data[0][i].img
                        a.href = "products/"+data[0][i].id
    
                        div.appendChild(a)
                        div.appendChild(img)
                        div.appendChild(h3)
    
                        scon.appendChild(div)
                    }
                }

            } else {
                sdis.style.display = "none"
            }
        })

        const cats = document.getElementById("categories")
        const ind = document.getElementById("sc-indicator")


        cats.addEventListener("mouseenter",(e)=>{
            let style = document.body.style.overflow
            document.body.style.overflow = (style === 'hidden') ? 'auto':'hidden'
        })

        cats.addEventListener("mouseleave",(e)=>{
            let style = document.body.style.overflow
            document.body.style.overflow = (style === 'hidden') ? 'auto':'hidden'
        })

        let val=0
        const items = document.getElementById("movement")

        cats.addEventListener("wheel",(e)=>{
            let movement = e.deltaY/10
            val=Math.min(Math.max(0,val + movement),150)
            ind.style.left = `${val}px`


            let allChildrenAmount = (items.childNodes.length-1)/2
            let fullwidth = allChildrenAmount*226 + (allChildrenAmount - 1) * 10 + 40
            let usedwidth = fullwidth - items.clientWidth + 226
            console.log(usedwidth)
            items.style.right = `${usedwidth*(val/150)}px`
        })

        async function getJoke() {
            const url = "https://official-joke-api.appspot.com/random_joke";
            try {
              const response = await fetch(url);
              if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
              }

              const json = await response.json();

              document.getElementById("j-setup").innerHTML = json.setup
              document.getElementById("j-punchline").innerHTML = json.punchline
            } catch (error) {
              console.error(error.message);
            }
          }

        getJoke()

        let cidx = 0;
        let cidxCounter = 0;

        setInterval(() => {
              if (cidxCounter <= 0)     {
                  cidxCounter = 5000;

                  let lastItem = document.getElementById(`cit${cidx}`);
                  if (lastItem) {
                      lastItem.classList = "carousel-item";
                  }

                  cidx += 1;
                  if (cidx > 6) {
                      cidx = 1;
                  }

                  let currentItem = document.getElementById(`cit${cidx}`);
                  if (currentItem) {
                      currentItem.classList = "carousel-item active";
                  }
              } else {
                  cidxCounter -= 100; // Decrement the counter
              }
          }, 100); // Check every 100ms

        document.getElementById("c1").addEventListener("click",() => {
            cidxCounter = 5000;

            let lastItem = document.getElementById(`cit${cidx}`);
            if (lastItem) {
                 lastItem.classList = "carousel-item";
            }

            cidx = 1;

            let currentItem = document.getElementById(`cit${cidx}`);
            if (currentItem) {
                currentItem.classList = "carousel-item active";
            }
        })

        document.getElementById("c2").addEventListener("click",() => {
            cidxCounter = 5000;

            let lastItem = document.getElementById(`cit${cidx}`);
            if (lastItem) {
                 lastItem.classList = "carousel-item";
            }

            cidx = 2;

            let currentItem = document.getElementById(`cit${cidx}`);
            if (currentItem) {
                currentItem.classList = "carousel-item active";
            }
        })

        document.getElementById("c3").addEventListener("click",() => {
            cidxCounter = 5000;

            let lastItem = document.getElementById(`cit${cidx}`);
            if (lastItem) {
                 lastItem.classList = "carousel-item";
            }

            cidx = 3;

            let currentItem = document.getElementById(`cit${cidx}`);
            if (currentItem) {
                currentItem.classList = "carousel-item active";
            }
        })

        document.getElementById("c4").addEventListener("click",() => {
            cidxCounter = 5000;

            let lastItem = document.getElementById(`cit${cidx}`);
            if (lastItem) {
                 lastItem.classList = "carousel-item";
            }

            cidx = 4;

            let currentItem = document.getElementById(`cit${cidx}`);
            if (currentItem) {
                currentItem.classList = "carousel-item active";
            }
        })

        document.getElementById("c5").addEventListener("click",() => {
            cidxCounter = 5000;

            let lastItem = document.getElementById(`cit${cidx}`);
            if (lastItem) {
                 lastItem.classList = "carousel-item";
            }

            cidx = 5;

            let currentItem = document.getElementById(`cit${cidx}`);
            if (currentItem) {
                currentItem.classList = "carousel-item active";
            }
        })

        document.getElementById("c6").addEventListener("click",() => {
            cidxCounter = 5000;

            let lastItem = document.getElementById(`cit${cidx}`);
            if (lastItem) {
                 lastItem.classList = "carousel-item";
            }

            cidx = 6;

            let currentItem = document.getElementById(`cit${cidx}`);
            if (currentItem) {
                currentItem.classList = "carousel-item active";
            }
        })

        
    </script>
{% endblock %}