{% extends "base.html" %}

{% block content %}
<form id="form" method="post">
    {{ form.hidden_tag() }}

    <h1>Sign Up</h1>

    <h2>{{ form.name.label.text }}</h2>
    {{ form.name(class="input", placeholder="Connor Johnson") }}

    <h2>{{ form.email.label.text }}</h2>
    {{ form.email(class="input", placeholder="email@exmple.com") }}

    <h2>{{ form.password.label.text }}</h2>
    {{ form.password(class="input", placeholder="12345678") }}

    <h2>{{ form.date.label.text }}</h2>
    {{ form.date(class="input") }}

    {{ form.register(class="input btn") }}
</form>
{% endblock %}